<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zacc.popo.ltd.zaccount">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Airtel"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Paytm"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Pocket"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Kotak"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Fedbook"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Rbl"
            android:theme="@style/noactionbar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="zaccountcontent.page.link" android:scheme="https"/>
                <data android:host="zaccountcontent.page.link" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Dbs"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Axis"
            android:theme="@style/noactionbar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="zaccountcontent.page.link" android:scheme="https"/>
                <data android:host="zaccountcontent.page.link" android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".IDFC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".Contact"
            android:label="Contact Us"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Invite"
            android:label="Invite"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/noactionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<data android:host="zaccountcontent.page.link" android:scheme="https"/>-->
                <!--<data android:host="zaccountcontent.page.link" android:scheme="http"/>-->
            </intent-filter>

        </activity>
        <activity
            android:name=".SingleViewDetails"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OffersZone"
            android:label="Offers Zone"
            android:screenOrientation="portrait" />
        <activity android:name=".OfferDetails" />
        <activity
            android:name=".OfferNewDetails"
            android:label="Offer Details"
            android:parentActivityName=".OffersZone" />
        <activity android:name=".ProgressDetails" />
        <activity
            android:name=".CustomerGrid"
            android:label="Customer Care"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BankServiceGrid"
            android:label="Bank Services"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AxisC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".IciciC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".AirtelBC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".FederalC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".HdfcC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".IndianC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".KotakC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".PaytmC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".PnbC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".RblC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".SbiC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".UnionC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".DbsC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".IdfcC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".YesBC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".AllahabadC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".AndhraC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".BankOfBaroda"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".BankOfIndia"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".CanaraBank"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".HsbcC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".IndianOverseasC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".InduslandC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".KarnatakaC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".StandardC"
            android:theme="@style/noactionbar" />
        <activity android:name=".SyndicateC" />
        <activity
            android:name=".UcoC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".VijayaC"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".SbiBankServices"
            android:label="SBI"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".IciciBankService"
            android:label="ICICI"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".RechargeActivitySbi"
            android:label="Recharge"
            android:parentActivityName=".SbiBankServices" />
        <activity
            android:name=".PrepaidSbi"
            android:label="Prepaid Mobile"
            android:parentActivityName=".RechargeActivitySbi" />
        <activity
            android:name=".DthSbi"
            android:label="DTH"
            android:parentActivityName=".RechargeActivitySbi" />
        <activity
            android:name=".UssdBankingSbi"
            android:label="Ussd Banking"
            android:parentActivityName=".SbiBankServices" />
        <activity
            android:name=".RechargeIcici"
            android:label="Recharge"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".PrepaidIciciR"
            android:label="Prepaid Mobile"
            android:parentActivityName=".RechargeIcici" />
        <activity
            android:name=".PostpaidIciciR"
            android:label="Postpaid Mobile"
            android:parentActivityName=".RechargeIcici" />
        <activity
            android:name=".BroadbandIciciR"
            android:label="Broadband Recharge"
            android:parentActivityName=".RechargeIcici" />
        <activity
            android:name=".DthIciciR"
            android:label="DTH"
            android:parentActivityName=".RechargeIcici" />
        <activity
            android:name=".PrimaryIcici"
            android:label="Primary Account"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".NonPrimaryIcici"
            android:label="Non Primary Account"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".CreditCardIcici"
            android:label="Credit Card"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".DematIcici"
            android:label="Demat Account"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".LoanIcici"
            android:label="Loan Account"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".UssdBankingIcici"
            android:label="USSD Banking"
            android:parentActivityName=".IciciBankService" />
        <activity
            android:name=".FederalBankService"
            android:label="Federal Bank"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".RechargeFederal"
            android:label="Recharge"
            android:parentActivityName=".FederalBankService" />
        <activity
            android:name=".PrepaidFederal"
            android:label="Prepaid Mobile"
            android:parentActivityName=".RechargeFederal" />
        <activity
            android:name=".MetroFederal"
            android:label="Metro Recharge"
            android:parentActivityName=".RechargeFederal" />
        <activity
            android:name=".DthFederal"
            android:label="DTH"
            android:parentActivityName=".RechargeFederal" />
        <activity
            android:name=".UssdBankingFederal"
            android:label="USSD Banking"
            android:parentActivityName=".FederalBankService" />
        <activity
            android:name=".HdfcBankServices"
            android:label="HDFC"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".HdfcUssd"
            android:label="USSD Banking"
            android:parentActivityName=".HdfcBankServices" />
        <activity
            android:name=".IndianBankService"
            android:label="Indian Bank"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".UsssdBankingIndian"
            android:label="Ussd Banking"
            android:parentActivityName=".IndianBankService" />
        <activity
            android:name=".AxisBankServices"
            android:label="Axis Bank"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".RechargeAxis"
            android:label="Recharge"
            android:parentActivityName=".AxisBankServices" />
        <activity
            android:name=".PrepaidAxis"
            android:label="Prepaid Mobile"
            android:parentActivityName=".RechargeAxis" />
        <activity
            android:name=".BroadbandAxis"
            android:label="Data Card"
            android:parentActivityName=".RechargeAxis" />
        <activity
            android:name=".DthAxis"
            android:label="DTH"
            android:parentActivityName=".RechargeAxis" />
        <activity
            android:name=".UssdAxis"
            android:label="USSD Banking"
            android:parentActivityName=".AxisBankServices" />
        <activity
            android:name=".RblBankingServices"
            android:label="RBL Bank"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".UssdRbl"
            android:label="USSD Banking"
            android:parentActivityName=".RblBankingServices" />
        <activity
            android:name=".UnionBankService"
            android:label="Union Bank Of India"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".UssdUnion"
            android:label="USSD Banking"
            android:parentActivityName=".UnionBankService" />
        <activity
            android:name=".IdfcBankingService"
            android:label="IDFC"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".UssdIdfc"
            android:label="USSD Banking"
            android:parentActivityName=".IdfcBankingService" />
        <activity
            android:name=".KotakBankService"
            android:label="Kotak Mahindra Bank"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".RechargeKotak"
            android:label="Recharge"
            android:parentActivityName=".KotakBankService" />
        <activity
            android:name=".PrepaidKotak"
            android:label="Prepaid Mobile"
            android:parentActivityName=".RechargeKotak" />
        <activity
            android:name=".DthKotak"
            android:label="DTH"
            android:parentActivityName=".RechargeKotak" />
        <activity
            android:name=".BillKotak"
            android:label="Pay Bills"
            android:parentActivityName=".RechargeKotak" />
        <activity
            android:name=".UssdKotak"
            android:label="USSD Banking"
            android:parentActivityName=".KotakBankService" />
        <activity
            android:name=".PnbBankServices"
            android:label="PNB"
            android:parentActivityName=".BankServiceGrid" />
        <activity
            android:name=".UssdPnb"
            android:label="USSD Banking"
            android:parentActivityName=".PnbBankServices" />
        <activity android:name=".PrivacyPoliciesZ"
            android:label="Privacy Policy"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>